<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>地图生成器</title>
        <style>
            html,
            body {
                margin: 0;
                padding: 0;
                width: 200%;
            }
            .row {
                height: 40px;
            }
            .item {
                display: inline-block;
                width: 40px;
                height: 40px;
                border: 1px solid #2ad;
                box-sizing: border-box;
                font-size: 12px;
                text-align: center;
                line-height: 40px;
            }
            .checked {
                background: #2ad;
                color: #fff;
            }
            .item:hover {
                background: yellow;
                color: #2ad;
            }
        </style>
    </head>
    <body>
        <div id="root">
            <div>
                <button @click="exportToConsole">导出到console</button>
            </div>
            <div v-for="(item,y) in arr" class="row">
                <div
                    class="item"
                    :class="{ checked: !!getTextByPoint(x,y) }"
                    v-for="(xx,x) in arr[y]"
                    @click="toggleItem(x,y)"
                >
                    {{ getTextByPoint(x, y) || x + ',' + y }}
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            new window['Vue']({
                el: '#root',
                data() {
                    return {
                        arr: [],
                        list: []
                    };
                },
                computed: {
                    getTextByPoint() {
                        var dict = {};
                        for (var i = 0; i < this.list.length; i++) {
                            var item = this.list[i];
                            dict[item.x + ',' + item.y] = i + 1;
                        }
                        return function(x, y) {
                            return dict[x + ',' + y];
                        };
                    }
                },
                methods: {
                    toggleItem(x, y) {
                        const index = this.findItemIndex(x, y);
                        if (index > -1) {
                            this.list.splice(index, 1);
                            return;
                        }
                        this.list.push({ x: x, y: y });
                    },
                    findItemIndex(x, y) {
                        for (var i = 0; i < this.list.length; i++) {
                            var item = this.list[i];
                            if (item.x === x && item.y === y) {
                                return i;
                            }
                        }
                        return -1;
                    },
                    save() {
                        window.localStorage.setItem(
                            'list',
                            JSON.stringify(this.list)
                        );
                    },
                    restore() {
                        try {
                            var list = JSON.parse(
                                window.localStorage.getItem('list')
                            );
                            this.list = list;
                        } catch (ex) {}
                    },
                    exportToConsole() {
                        var arr = JSON.parse(JSON.stringify(this.arr));
                        for (var i = 0; i < this.list.length; i++) {
                            var item = this.list[i];
                            arr[item.x][item.y] = i + 1;
                        }
                        window.list = JSON.stringify(arr, null, '').replace(
                            /,\[/g,
                            ',\n['
                        );
                        console.log('在list变量中');
                    }
                },
                watch: {
                    list() {
                        this.save();
                    }
                },
                created() {
                    window.ele = this;
                    // 初始化空白地图
                    for (var y = 0; y < 60; y++) {
                        var list = [];
                        for (var x = 0; x < 60; x++) {
                            list.push(0);
                        }
                        this.arr.push(list);
                    }
                    this.restore();
                }
            });
        </script>
    </body>
</html>
